In [5]:
%load_ext autoreload
%autoreload 2
from tareco import *
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
# creating an empty graph object
mygraph = Tareco(6,dim=3)

In [7]:
# creating a node dataframe 
bancos = pd.DataFrame({
        'bank' : ['Next', 'Inter', 'Nubank', 'BB', 'Itau', 'XP Investimentos', 'CEF', 'Santander','Bradesco'],
        'clients': [2000,   35000, 234243, 23443,2,1,232323, 666, 24433],
        'profits': [234, 1111, 2234, 2344, 444, 222, 1, 1, 9877] 
})
bancos.head()

     bank  clients  profits
0    Next     2000      234
1   Inter    35000     1111
2  Nubank   234243     2234
3      BB    23443     2344
4    Itau        2      444

In [8]:
# adding the nodes to the graph
# 'banco' is the id column 
mygraph.node.load(bancos, 'bank')

In [9]:
teds = pd.DataFrame({
        'from' : ['Next', 'Next', 'Next', 'Next', 'Next', 'Next', 'Next', 'Next'],
        'to' : ['Bradesco', 'Inter', 'Nubank', 'BB', 'Itau', 'XP Investimentos', 'CEF', 'Santander'],
        'sent': [25500,   3500, 12345, 6664, 222,111, 2323, 666],
        'received': [2344, 111, 22234, 234, 4344, 2322, 1111, 1111] 
})
teds.head()

   from        to   sent  received
0  Next  Bradesco  25500      2344
1  Next     Inter   3500       111
2  Next    Nubank  12345     22234
3  Next        BB   6664       234
4  Next      Itau    222      4344

In [10]:
mygraph.edge.load(teds, 'from', 'to')

In [11]:
mygraph.plot(title='coco', node_size_col='clients', node_color_col='clients', edge_width_col='sent', edge_color_col='sent')